# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Large/raw sequencing files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam

# Reference genome files
*.fa
*.fasta
*.fa.gz
*.fasta.gz
*.gtf
*.gtf.gz

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db
data/counts/gene_counts.txt
